.author-link {
  display: flex
}

.feed-storage-box {
  width: 700px;
  /* overflow: scroll; */
}

.followee-avatar {
  width: 50px;
  height: 50px;
}

.follow-feed-item {
  background-color: white;
  margin-bottom: 20px;
  border-radius: 3px;
  border: 1px solid #eeeff2;
}

.following-feed-appeal {
  color: white;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 130px;
  align-items: center;
}

.photographer-detail {
  height: 61px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 20px 0px 3px 30px
}

.picture-container {
  width: 100%;
}

.picture-container > img {
  width: 100%;
}

.photo-info {
  padding: 15px;
}

.text-detail {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-left: 10px;
}

.follow-feed-detail-username {
  font-size: 14px;
  font-weight: bold;
  color: #525558;
}

.follow-feed-detail-userame:hover {
  opacity: .7
}

.time-stamp {
  font-size: 12px;
  color: #b9c1c7;
}

.photo-title {
  font-size: 18px;
  color: #525558;
  padding-bottom: 10px;
}

.photo-caption {
  font-size: 14px;
  color: #525558;
}
