<script>
 window.splash = "<%= asset_path('alaskabear.jpg')%>"
 window.userIcon = "<%= asset_path('user.svg')%>"
 window.uploadIcon = "<%= asset_path('upload-to-internet-cloud-symbol.png')%>"
 window.homeAppeal = "<%= asset_path('DSCN2387.jpg')%>"
</script>
<link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">



<main id="root"></main>


<footer class="icon-credit">
  <div class="icon-credit">Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
  <div class="icon-credit">Icons made by <a href="https://www.flaticon.com/authors/linh-pham" title="Linh Pham">Linh Pham</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
</footer>
