<script>
 window.splash = "<%= asset_path('DSCN5052.jpg')%>"
 window.userIcon = "<%= asset_path('user.svg')%>"
</script>


<% if logged_in? %>
  <script id="bootstrap-current-user" type="text/javascript">
  	window.currentUser = <%= render("/api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  </script>
<% end %>

<main id="root"></main>
