.modal-background {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.5);
}

.modal-child {
  overflow: hidden;
  background-color: #f7f8fa;
  position: relative;
  top: 50px;
  bottom: 50px;
  width: 93%;
  height: 92%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: border-box;
}
