

.profile-info-box {
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.user-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.user-avatar  {
  border-radius: 50px;
  margin: 0 auto;
  width: 104px;
  height: 104px;
  top: 52px;
}


.avatar-upload-ready {
  filter: brightness(1.5);
  opacity: .7;
  display: flex;
  justify-content: center;
  align-content: center;
}

.shown-user-name {
  font-size: 30px;
}

.profile-upload {
  display: none;
}

.adjustables {
  display: flex;
  flex-direction: column;
}

.sliders {
  backgroundColor: "#232323";
  height: 10px;
  width: 150px;
}

.image-column {
  display: flex;
  flex-direction: column;
}

.edit-box {

}

.rotators {
  font-size: 60px;
}

.final-options {
  
}

.editor {
  border: 1px solid red;
  background-color: '#7d7d7b'
}

.changables {
  display: flex;
}

.tweakers { 
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
