.user-text-frame-show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15px;
}

.user-avatar-frame-show {
  height: 50px;
  width: 50px;
}

.user-avatar-frame-show:hover {
  opacity: 0.7;
}

.frame-user-details-box {
  width: 100%;
  padding-left: 20px;
  padding-top: 36px;
  padding-bottom: 36px;
  border-bottom: 1px solid lightgrey;
}

.username {
  font-weight: normal;
  color: #525558;
  font-size: 18px;
}

.username:hover {
  color: #0099e5;
}
