

.nav-upload-symbol {
  height: 22px;
  width: 30px;
}

.current-user-nav {
  z-index: 1000;
  position: relative;
}

.logged-in-nav {
  width: 185px;
  height: 100%;
  margin-right: 50px;
  float: right;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;}

.drop-down-logged-in {
  width: 145px;
  height: 300px;
  position: absolute;
  top: 49px;
  right: 131px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-user-icon {
  width: 25px;
  height: 25px;
}

.drop-down-assemblage {
  border-bottom: 1px solid #eeeff2;
}

.drop-down-button {
  height: 26px;
  color: #525558;
  padding: 0 20px;
  background-color: #fff;
  text-align: left;
}

.drop-down-button:hover {
  color: blue;
}
