/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.form-submit {
  background-color: #41cb56;
  color: white;
  text-align: center;
}

.icon-credit {
  z-index: -20;
  position: relative;
  display: none;
}

.appeal-image {
  overflow: scroll;
  object-fit: contain;
}


.appeal {
  color: white;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20%;
  align-items: center;
}

.appeal-center-headline {
  font-size: 48px;
  padding: 40px 0;
  text-align: center;
}

.appeal-center-sub {
position: relative;
font-size: 24px;
}
.following-feed-appeal {
  color: white;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 130px;
  align-items: center;
}
