.feed-storage-box {
  height: 100vh;
  width: 700px;
  overflow: scroll;
}

.photographer-detail {
  height: 61px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

.photo-info {
  padding-left: 10px;
}


.followee-avatar {
  width: 60px;
}

.author-link {
  display: flex
}

.follow-button-container {
  width: 100px;
  height: 30px;
  border-radius: 3px;
  background-color: #0099e5;
  color: white;
  position: absolute;
  right: 53px;
  top: 160px;
  text-align: center;
  padding-top: 10px;
}

.unfollow-button {
  background-color: #ff6666;
}

.text-detail {
  display: flex;
  flex-direction: column;
  /* left: 461px; */
  padding-top: 10px;
  padding-left: 10px;
}

.following-feed-appeal {
  color: white;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 130px;
  align-items: center;
}
