.feed-storage-box {
  height: 100vh;
  width: 700px;
}

.photographer-detail {
  height: 61px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

.photo-title {

}

.photo-caption {
  
}

.followee-avatar {
  width: 60px;
}

.follow-button-container {
  width: 100px;
  height: 30px;
  border-radius: 3px;
  background-color: #0099e5;
  color: white;
  position: absolute;
  right: 53px;
  top: 160px;
  text-align: center;
  padding-top: 10px;
  cursor: pointer;
}

.unfollow-button {
  background-color: #ff6666;
}

.text-detail {
  display: flex;
  flex-direction: column;
  /* left: 461px; */
  padding-top: 10px;
  padding-left: 10px;
}
