.index-image {
  position: absolute;
  top: 0;
  width: 100%;
  vertical-align: bottom;
}

i {
  display: block;
}

.frames-user-index-item {
  margin: 2px;
  position: relative;
  overflow: hidden;
}

.photo-storage-box::after {
  content: '';
  flex-grow: 999999999;
}

.photo-storage-box {
  display: flex;
  flex-wrap: wrap;
}

.photo-store-box: nth-last-child(1) {
  flex-grow: 0
}
