.image-container {
  display: flex;
  justify-content: center;
  width: 80%;
  height: 90vh;
}

.metadata-display {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.frame-show-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.user-avatar-frame-show {
  height: 50px;
  width: 50px;
}

.image-show {
  width: auto;
  height: 100%;
}

.frame-show-side-box {
  font-size: 12px;
  width: 20%;
  border-left: 1px solid lightgrey;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
}


.follow-button-frame-show {
  height: 20px;
}

.user-text-frame-show {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
