.index-image {
  position: absolute;
  top: 0;
  width: 100%;
  vertical-align: bottom;
  /* height: 200px;
  max-width: 500px;
  flex-grow: 1;
  object-fit: cover; */
}

i {
  display: block;
}

.frames-user-index-item {
  margin: 2px;
  position: relative;
  overflow: hidden;
  /* flex-grow: 1; */
  /* padding: 4px; */
  /* display: flex;
  flex-wrap: wrap; */
}

.photo-storage-box::after {
  content: '';
  flex-grow: 999999999;
}

.photo-storage-box {
  display: flex;
  flex-wrap: wrap;
}

.photo-store-box: nth-last-child(1) {
  flex-grow: 0
}



/* .frames-user-index-item {
  margin: 5px */
  /* width: 146px;
  height: 110px; */
/* } */

/* .photo-storage-box {
  background-color: #f7f8fa;
  height: 100vh;
  padding: 20px 40px;
}

.frames-user-ii-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.frames-user-index-item {
  margin: 5px;
  width: 146px;
  height: 110px;
} */
