.logged-out-nav {
  width: 185px;
  height: 100%;
  margin-right: 50px;
  float: right;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}

nav {
  height: 70px;
  width: 100%;
  color: transparent;
  position: absolute;
  z-index: 10
}


input {
  border-radius: 4px;
  width: 318px;
  height: 40px;
}

input[type="text"], input[type="password"] {
  width: 318px;
  height: 40px;
}

input, label {
  display: block;
}

input {
  border: 1px solid rgba(185,193,199,0.5);
}

input[type='submit'] {
  background-color: #41cb56;
  color: white;
  text-align: center
}



.nav-access {
  position: absolute;
  padding: 10px;
  width: 100px;
  background-color: violet;
  height: 100px;
}


.access-login {
  color: black;
  display: inline-block;
  background: transparent;
  margin-left: 30px
}

.access-signup {
  color: white;
  height: 30px;
  line-height: 26px;
  width: 90px;
  text-align: center;
  vertical-align: center;
  background-color: #00aaff;
  font-weight: bold;
  margin-right: 30px;
  border-radius: 30px;
  margin-left: 30px;
}
