

.nav-upload-symbol {
  height: 22px;
  width: 30px;
}

.current-user-nav {
  z-index: 1000;
  position: relative;
}

.logged-in-nav {
  width: 185px;
  height: 100%;
  margin-right: 50px;
  float: right;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;}

.drop-down-logged-in {
  width: 145px;
  height: 30px;
  /* height: 300px; */
  position: absolute;
  top: 60px;
  right: 100px;
  background-color: white;
}

.nav-user-icon {
  width: 25px;
  height: 25px;
}

.logout-button {
  display: block;
  height: 26px;
  line-height: 26px;
  font-size: 14px;
  color: #525558;
  padding: 0 20px;
  background-color: #fff;
  text-align: left;
}

.logout-button:hover {
  color: blue;
}
