.preview-image {
  height: 168px;
  width: 224px;
  border-radius: 5px;
  box-sizing: border-box;
}


.upload-button {
  background-color: #34bf49;
  color: white;
  height: 100%;
  width: 112px;
  display: flex;
  justify-content: space-around;
  align-content: center;
  padding-bottom: 1px;
}

.upload-mask {
  display: flex;
  position: absolute;
  width: 180px;
  height: 40px;
  text-align: center;
  color: white;
  /* pointer-events: none; */
  background: #0099e5
}

.upload-text {
  margin: auto;
}

.upload-input {
  width: 180px;
  height: 40px;
  opacity: 0;
}
